.layouts{
	margin-bottom: 15px;
}
.PlayList {
  overflow-x: auto;
  /*width: 500px;*/
  white-space: nowrap;
  display: flex;
  /*flex-wrap: wrap;*/
  /*height: 500px;*/
  /*background: red;*/
  overflow-y: hidden;
  padding-bottom: 80px;
}
.PlayList-title{
	text-transform: unset;
	background: #ccc;
	margin: 0;
}